body{
    font-family: sans-serif;
   background-color: burlywood;
}

#main{
    width: 950px;
    height: 900px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
}


/*Conteudo*/
#content{
    width: 100%;
    height: 520px;
    background-color: gainsboro;
    border-top: 1px solid #000000;
    text-align:center;
}

/*Estatisticas*/
#caixa-centro{
    width: 600px;
    height: 400px;
/*    background-color: aqua;*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.titulos-grafico{
    width: 100%;
    height: 40px;
/*    background-color: firebrick;*/
    
}

.nome-titulo{
   width: 200px;
    height: 40px;
    float: left;
/*    background-color: firebrick;*/
    font-size: 23px;
    font-weight: bold;
}


.dados-estat{
    width: 600px;
    height: 25px;
/*    background-color: blueviolet;*/
    float: left;
    font-size: 22px;
    margin-bottom: 10px;
}


.nome-produto{
   width: 250px;
    height: 100%;
/*    background-color: dimgrey;*/
    float: left;
}

.qtd-cliques{
    width:100px;
    height: 100%;
/*    background-color: aliceblue;*/
    float: left;
}

.caixa-barra-porcetagem{
    width:200px;
    height: 100%;
/*    background-color: orange;*/
    float: left;
}
.percentual{
    width: 50px;
    height: 100%;
/*    background-color: fuchsia;*/
    float: left;
}
/***************/



/*Foooter*/
footer{
   width: 100%;
    height: 40px;
    background-color: black;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    font-size: 18px;
    text-align: center;
    color: orange;
    padding-top: 20px;
}
